* {
margin: 0;
padding: 0;
box-sizing: border-box;

}




:root{
--btn-color: #00a78e;
--bg-color-one: #f4f4f4;
}

header, section,footer{
    display: block;
}

html, 
body{
    background-color: #ffffff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*------------- Reusable code-----------*/
section{
    padding: 80px 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

h1{
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 500;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.box{
    padding: 1%;
}

/* ----------header---------------- */
header{
    background: url(../images/header-bg.jpg) no-repeat center top; 
    
     /* background-position: center;  */
    min-height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
     position: relative;  
     overflow: hidden; 
     background-attachment: fixed;
     /* background-repeat: no-repeat; 
    background-attachment: fixed;
 overflow: hidden; 

  background: url(../images/header-bg.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:650px;
	position: relative;*/
}



/* -----------logo----------- */
.logo{
    float: left;
     height: 53px; 
    width: auto;
   
}

/* logo animation */
.logo h1
{
    color: #ffffff;
    /* border-right: .15em solid orange ; */
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 500;
    overflow: hidden;
    animation: logocode 3.5s steps(30, end), blink-caret .5s step-end 8 ;
    margin-top: 15px;
}

.logo .logoBlack{
    display: none;

    color: #0e0d0d;
    /* border-right: .15em solid orange ; */
   font-size: 30px;
    margin: 8px 0px;
}


@keyframes logocode{
    from{width: 0 }
    to {width: 100% }
}

@keyframes blink-caret {
    
    0% { border-right: .15em solid var(--btn-color)   }
    50% {  border-right: .15em solid var(--btn-color)  }
    100% { border-right: .15em solid var(--btn-color) }
  }


  /* nav */

.main-nav{
     list-style: none; 
    float: right;
    margin-top: 20px;
}

.main-nav li{
    display: inline-block;
    margin-left: 25px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 3px solid transparent ;
    /* padding: 8px 0; */
    /* max-width: 0; */
    font-family: inherit;

}
/* .main-nav ul li a{
	color:#000;
    font-size:1em;
    text-decoration: none;
    padding: 10px 0;
	text-transform:uppercase;
    font-family: 'Open Sans', sans-serif;
}*/
.main-nav li.active a{
	    color: #00a78e; 
}
/*-- nav-hover --*/
.link-effect-3 a {
	padding: 10px 0;
	/* margin: 0 12px; */
	color: #797878;
	text-shadow: none;
	position: relative;  
    font-family: inherit;
}

.link-effect-3 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 3px solid #00a78e;
    color: #00a78e;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}
.link-effect-3 a:hover::before {
	max-width: 100%;
}

/* moblie nav */
.moblie-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer; 
    display: none;
}

.moblie-nav-icon i{
    font-size: 300%;
    color: #fff;
}

/*
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid var(--btn-color);
    color: var(--btn-color);
    width: 100%;
} */

/* sticky nav */
.sticky{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.98);
    width: 100%;
    box-shadow: 0px 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav{
   margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color: #555;
    /* padding: 8px 0;  */
}

.sticky .logoBlack{display: block;}
.sticky .logo .logoWhite{display: none;}
/*  */


.clearfix{
    display: table;
    content: " ";
    clear: both;
    height: 0;
    visibility: hidden;
}


/* -----------icon banner----------- */


/*------------banner info------------- */
.banner-content{
    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-content h1{
    color: #fff;
    font-weight: bold;
    /* font-size: 1.2em; */
    margin: 0.5em 0 0;
    background: var(--btn-color);
    display: inline-block;
    /* padding: .5em 1.5em; */
    position: relative;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 1em;
        padding: .4em 1em;
        border-radius: 3px;
}

.banner-content h1::before{
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 14px 11px 0 12px;
    border-color: var(--btn-color) transparent transparent transparent;
}

.banner-content h6{
    color: #C7C7C7;
    letter-spacing: 3px;
    margin-top: 0.8em;
    font-size: 0.9em;
    text-transform: none;
    font-style: italic;
    font-weight: normal;
}

.banner-content ul li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin-right: 9px;
    margin-top: 0.8em;
}

/*--------------about---------------*/
.about{
    background-color: var(--bg-color-one);
}

.about-head h4 {
    /* font-size: 1.2em; */
    color: #FFF;
    background: #00a78e;
    display: inline-block;
    /* padding: .5em 1.5em; */
    position: relative;
    border-radius: 3px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: normal;
    text-transform: uppercase;
}

.about-head h4:before {
	width: 0;
	height: 0;
	position: absolute;
	content: '';
	bottom: -9px;
	left: 12px;
	border-left: 12px solid transparent;
	border-right: 11px solid transparent;
	border-bottom-style: solid;
	border-top: 14px solid #00a78e;
	border-bottom-width: 0;
	/* [disabled]border-radius: 3px; */
	border-bottom-color: transparent;
	
}

.about-head h4 {
	font-size: 0.9em;
	/* [disabled]border-radius: 3px; */
    padding: .5em 1.2em;
    margin-bottom: 10px;
    }
    
.text-center{
    text-align: center;
}

.about-head h3{
	color: #1b242f;
    font-size: 1.4em;
    font-weight:100;
     
    margin: 0;
    padding: 0 0 0.2em 0;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about-head h3 span{
	font-weight: bold;
 font-family: inherit;
}

.about-head h3::after{
    display: block;
    height: 3px;
    background-color: var(--btn-color);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
} 

/*-------paragraph---------- */
.long-copy img{
    float: left;
    width: 25%;
    width: 250px;
  height: 250px;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    margin-right: 50px;
}
.long-copy{
line-height: 145%;
width: 90ch;
/* margin: 0 15% 0 15%; */
/* margin-left: 15%; */
font-size: 100%;
color: #666666;
font-family: 'Lato', 'Arial', sans-serif;
/* font-weight: 300; */
/* text-align: justify; */

}

.about .long-copy{
margin-bottom: 40px;
}

.box p,
footer p{
    line-height: 145%;
    font-size: 90%;
    /* margin: 0 15% 0 15%; */
    color: #666666;
    font-family: 'Lato', 'Arial', sans-serif;
    text-align: center;
    }

.h3-about{
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
    
}
/* --------------icon---------- */
.icon-big{
    font-size: 400%;
    display: block;
    color: var(--btn-color);
    text-align: center;
}

.btn{
    margin:3em 0 0 0;
    padding:0;
    text-align: center;
}

.btn li{
    display: inline-block;
   
}

.btn li a,
input[type=submit]{
padding: 0.4em 1em;
font-size: 1.2em;
color: #00a78e;
border: 2px solid #00a78e;
text-decoration: none;
border-radius: 1.5em;
-webkit-border-radius: 1.5em;
-moz-border-radius: 1.5em;
-o-border-radius: 1.5em;
-ms-border-radius: 1.5em;

}

.btn li a.a-btn-a,
input[type=submit]{
    padding: 0.4em 1em;
    font-size: 1.2em;
    color: #fff;
    border: 2px solid #00a78e;
    background: #00a78e;
    
    }

    .btn li a.a-btn-a:hover, 
    input[type=submit]:hover
    {
        padding: 0.4em 1em;
        font-size: 1.2em;
        color: #00a78a;
        border: 2px solid #00a78e;
        background: #fff;
        
        }

.btn li:nth-child(1){
	margin-right: 0.2em;
}

.btn li a:hover{
	background-color:#00a78e;
	color:#FFF;
	border-radius:1.5em;
	-webkit-border-radius:1.5em;
	-moz-border-radius:1.5em;
	-o-border-radius:1.5em;
    -ms-border-radius:1.5em;
    transition: background-color 2s;
}

/* ---------portfolio------------ */
.section-portfolio{
/* margin-bottom: 90px;
height: auto;
width: 100%; */

}

.portfolio-showcase{
    list-style: none;
    width: 100%;
}

.portfolio-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.portfolio-photo{
    margin: 0;
    width: 100%;
    overflow: hidden;
    /* background: #000; */
}

.portfolio-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.05);
    /* opacity: 0.7; */
    transition: transform 0.5s;
}

.portfolio-photo img:hover{
    opacity: 1;
    transform: scale(1);
}

/* -----------blog----------- */
.section-blog{
/* background-color: #797878;  */
background-color: var(--bg-color-one);
}
.box img{
    width: 100%;
    height: auto;
}

.date::after{
    content: " ";
    border-bottom: 2px solid #00a78a;
    width: 90px;
    height: 3px; 
    display: block;
    margin-top: 10px;
    background-color: #666666;
    /* margin-bottom: 10px; */
}

.blog-feature{
    margin-bottom: 10px;
    margin-top: 10px;
}
.date .small{
    color: var(--btn-color);
    font-size: 90%;
    display: inline-block;
    width: 20px;
    /* margin-right: 10px; */
    line-height: 90%;
    vertical-align: middle;
    margin-top: -5px;
    /* text-align: center; */
}

.psmall{
    color: rgb(95, 94, 94);
    font-size: 80%;
    font-family: 'Lato', 'Arial', sans-serif;
}

.blog-feature p{
    text-align: initial;
}

.blog-feature p a{
    color:  var(--btn-color);
    text-decoration: none;
    font-size: 75%;
    font-weight: bold;
    transition: color 2s, border-bottom 2s;
    border-bottom: 2px solid var(--btn-color);
}

.blog-feature p a:hover{
    color:  #000;
    border-bottom: 2px solid transparent;
}

/* -----------contact----------- */
.contact{
     /* background: url(/resources/images/subway-lines.png)no-repeat center top;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 

    position: relative;
    background-attachment: fixed;
overflow: hidden; */
    
}

.contact-form{
    width: 60%;
    margin: 0 auto;
    font-family: 'Lato', 'Arial', sans-serif;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 7px;
}

textarea{
    height: 100px;
}

*:focus{
    outline: none;
}

/* ---------------footer------------ */
footer{
    background-color: var(--bg-color-one);
    padding: 10px;
}

footer ul li{
    display: inline-block;
}

.center{
    text-align: center;
    margin-top: 50px;
}
  .test{
    /* margin-top: -10px;
    /* line-height: 50px; */
    /* margin-bottom: -250px; */
    /* position: absolute; */ 
} 

/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */
.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4{
    opacity: 0;
    animation-direction: 1s;
    
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-5.animated,
.js--wp-4.animated{
    opacity: 1;
    animation-direction: 1s;
}